/* CSS Reset*/
html {
	font-size: 125%; /* 20÷16=125% min-font-size:12px bug*/
}
@media only screen and (min-width: 481px) {
html {
	font-size: 188%!important; /* 30.08÷16=188% */
}
}
@media only screen and (min-width: 561px) {
html {
	font-size: 218%!important; /* 38.88÷16=218% */
}
}
@media only screen and (min-width: 641px) {
html {
	font-size: 250%!important; /* 40÷16=250% */
}
}
body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 1em;
	font: inherit;
	vertical-align: baseline;
	font-family: "Microsoft YaHei"
}
body {
	font-family: "Microsoft YaHei";
	font-size: 0.7rem;
	color: #333;
	line-height: 0.7rem;
	width: 100%;
}
em {
	font-style: normal
}
li {
	list-style: none
}
a {
	text-decoration: none;
	outline: 0;
	color: #333;
}
img {
	border: none;
	vertical-align: top;
}
table {
	border-collapse: collapse;
}
input, textarea {
	font-family: "Microsoft YaHei";
	padding: 0;
}
textarea {
	resize: none;
	overflow: auto;
}
textarea:focus {
	outline: none;
}
input:focus {
	outline: none;
}
.clear {
	zoom: 1
}
.clear:after {
	content: "";
	display: block;
	clear: both;
}
.fl {
	float: left
}
.fr {
	float: right
}
/*reset*/

/*********************************************************************
                              主页面
**********************************************************************/
header {
	background: #19b5ff;
	width: 100%;
	height: 2.5rem;
	line-height: 2.5rem;
	color: #fff;
	text-align: center;
	font-size: 0.9rem;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 97;
}
header .theme {
	width: 75%;
	margin: 0 auto;
	height: 100%;
	overflow: hidden;
}
header .theme li {
	float: left;
	text-align: center;
	font-size: 0.8rem;
	line-height: 2.5rem;
	width: 25%;
	margin: 0 4.16665%;
}
header .theme a li {
	color: #fff;
}
header .theme li.current {
	border-bottom: 0.15rem solid #fff;
	height: 2.35rem;
}
header ._left {
	display: block;
	position: absolute;
	left: 0;
	top: 0;
}
header ._left img {
	height: 1rem;
	margin: 0.75rem 0 0 0.6rem;
}
header ._left span {
	padding-left: 0.5rem;
	font-size: 0.85rem;
	color: #fff;
}
header ._mid {
	height: 2.5rem;
	overflow: hidden;
}
header ._mid ul {
	display: inline-block;
	overflow: hidden;
	margin: 0 auto;
	margin-top: 0.45rem;
}
header ._mid ul li {
	float: left;
	border: 1px solid #fff;
	font-size: 0.75rem;
}
header ._mid ul li {
	color: #19b5ff;
	height: 1.4rem;
	line-height: 1.4rem;
	padding: 0 1.1rem;
	background: #fff;
	border-radius: 0.25rem 0 0 0.25rem;
}
header ._mid ul a li {
	color: #fff;
	height: 1.4rem;
	line-height: 1.4rem;
	padding: 0 0.75rem;
	background: #19b5ff;
	border-radius: 0 0.25rem 0.25rem 0;
}
header .mid {
	height: 2.5rem;
	overflow: hidden;
}
header .mid ul {
	display: inline-block;
	overflow: hidden;
	margin: 0 auto;
	margin-top: 0.45rem;
}
header .mid ul li {
	float: left;
	border: 1px solid #fff;
	font-size: 0.75rem;
}
header .mid ul li {
	color: #19b5ff;
	height: 1.4rem;
	line-height: 1.4rem;
	padding: 0 0.75rem;
	background: #fff;
	border-radius: 0 0.25rem 0.25rem 0;
}
header .mid ul a li {
	color: #fff;
	height: 1.4rem;
	line-height: 1.4rem;
	padding: 0 1.1rem;
	background: #19b5ff;
	border-radius: 0.25rem 0 0 0.25rem;
}
header ._right {
	display: block;
	position: absolute;
	right: 0;
	top: 0;
}
header ._right img.current {
	transform: rotate(-90deg);
}
header ._right img {
	height: 1rem;
	margin: 0.75rem 0.5rem 0 0;
	transition: all ease-in 0.2s;
}
header ._righttwo {
	display: block;
	position: absolute;
	right: 2rem;
	top: 0;
}
header ._righttwo img {
	height: 1rem;
	margin: 0.75rem 0.5rem 0 0;
}
header ._rightthree {
	display: block;
	position: absolute;
	right: 3.7rem;
	top: 0;
}
header ._rightthree img {
	height: 1rem;
	margin: 0.75rem 0.5rem 0 0;
}
header ._right span {
	padding-right: 0.5rem;
	font-size: 0.85rem;
	color: #fff;
}
header ._right span.num {
	padding: 0;
}
header .block {
}
header .block ul {
	position: absolute;
	right: 0.4rem;
	top: 2.5rem;
	z-index: 100;
	width: 5.6rem;
	display: none;
}
header .block ul .angle {
	border-top: 0.4rem solid transparent;
	border-left: 0.4rem solid transparent;
	border-right: 0.4rem solid transparent;
	border-bottom: 0.4rem solid rgba(0,0,0,0.5);
	width: 0;
	height: 0;
	position: absolute;
	right: 0.4rem;
	top: -0.4rem;
}
header .block ul li {
	height: 2rem;
	background: rgba(0,0,0,0.5);
	width: 100%;
	text-align: center;
	line-height: 2rem;
	font-size: 0.7rem;
}
header .block ul li img {
	height: 0.8rem;
	margin: 0.6rem 0.2rem 0 0;
}
header .block ul li:nth-child(2) {
	border-radius: 0.3rem 0.3rem 0 0;
	margin-top: 0.4rem;
	border-bottom: 1px solid rgba(0,0,0,0.1)
}
header .block ul li:nth-child(3) {
	border-radius: 0 0 0.3rem 0.3rem;
}
nav._main {
	width: 100%;
	height: 7rem;
	overflow: hidden;
	zoom: 1;
	background-size: cover;
	position: relative;
	padding-top: 3rem;
}
nav._main .head {
	margin: 0 auto;
	height: 3rem;
	width: 3rem;
	overflow: hidden;
	border-radius: 50%;
}
nav._main .head img {
	width: 100%;
}
nav._main .name {
	height: 1.6rem;
	width: 100%;
}
nav._main .name img {
	height: 0.8rem;
	margin: 0.4rem 0 0 0.2rem;
}
nav._main .name span {
	line-height: 1.6rem;
	overflow: hidden;
	color: #444;
	font-size: 0.8rem;
	margin-left: 1rem;
}
nav._main .LV {
	color: #fff;
	border-radius: 0 0.5rem 0.5rem 0;
	height: 0.9rem;
	line-height: 0.9rem;
	font-size: 0.6rem;
	text-align: center;
	position: absolute;
	top: 3.6rem;
	left: 0;
	background: #19b5ff;
	width: 1.6rem;
}
nav._main ul {
	position: absolute;
	width: 100%;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.1);
	height: 1.9rem;
	padding: 0.3rem 0;
}
nav._main ul li {
	float: left;
	width: 100%;
	border-left: 1px #e3c59b solid;
	height: 100%;
	color: #fff;
	margin-left: -1px;
	text-align: center;
	line-height: 0.95rem;
}
nav._main ul li .category {
	font-size: 0.65rem;
}
.sell {
	overflow: hidden;
	width: 100%;
	margin: 0.4rem 0;
	padding: 0.5rem 0;
	height: 1.2rem;
	background: #fff;
}
.sell li {
	float: left;
	height: 100%;
	width: 50%;
	background: #fff;
	margin-left: -1px;
	border-left: 1px solid #ebebeb;
}
.sell li .wrap {
	line-height: 1.2rem;
	font-size: 0.7rem;
	color: #444;
	height: 1.2rem;
}
.sell li .wrap img {
	height: 1.2rem;
	margin-right: 0.4rem;
}
._main_section {
	margin-bottom: 3.25rem;
}
._main_section ul li {
	height: 1.1rem;
	border-bottom: 1px solid #ebebeb;
	width: 100%;
	padding: 0.5rem 0;
	background: #fff no-repeat 97% center;
	background-size: 0.4rem;
	line-height: 1.1rem;
	font-size: 0.7rem;
	color: #444;
}
._main_section ul li .pic {
	width: 2.2rem;
	float: left;
}
._main_section ul li img {
	height: 1.1rem;
	margin: 0 0.3rem 0 0.55rem;
}
footer {
	position: fixed;
	left: 0;
	bottom: 0;
	height: 2.5rem;
	width: 100%;
	background: #fff;
	border-top: 1px solid #e0e0e0;
}
footer ul li {
	float: left;
	width: 20%;
	text-align: center;
	font-size: 0.6rem;
}
footer ul li.active {
	color: #19b5ff;
}
footer ul li img {
	display: block;
	margin: 0.35rem auto 0.15rem auto;
	height: 1rem;
}
footer ul li.main .g_wrap {
	background: #fff;
	margin: -0.7rem auto 0 auto;
	width: 60%;
	padding: 12%;
	border-radius: 50%;
}
footer ul li.main img {
	height: 1.9rem;
	margin: 0.1rem auto;
	vertical-align: top;
}