/* CSS Reset*/
html {
	font-size:125%; /* 20÷16=125% min-font-size:12px bug*/
}
@media only screen and (min-width: 481px){
	html {
		font-size:188%!important; /* 30.08÷16=188% */
	}
}
@media only screen and (min-width: 561px){
	html {
		font-size:218%!important; /* 38.88÷16=218% */
	}
}
@media only screen and (min-width: 641px){
	html {
		font-size:250%!important; /* 40÷16=250% */
	}
}
body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size:1em;
  vertical-align: baseline;
  font-family:"Microsoft YaHei"
}
body{
  font-family:"Microsoft YaHei";
  font-size: 0.7rem;
  line-height:0.7rem;
  line-height: 14.2857143px;
  color: #333;
  width:100%;
}
em{font-style:normal}
li{list-style:none}
a{text-decoration:none;outline:0;color:#333;}
img{border:none; vertical-align:top;}
table{border-collapse:collapse;}
input{font-family:"Microsoft YaHei";padding:0;}
textarea{ resize:none;overflow:auto;padding:0;}
textarea:focus{outline:none;}
input:focus{outline:none;}
.clear{zoom:1}
.clear:after{content:"";display:block;clear:both;}
.fl{float:left}
.fr{float:right}
/*reset*/

/*********************************************************************
                              主页面
**********************************************************************/
header{
	background:#19b5ff;
	width:100%;
	height:2.5rem;
	line-height:2.5rem;
	color:#fff;
	text-align:center;
	font-size:0.9rem;
	position:fixed;
	left:0;
	top:0;
	z-index:97;
}
header .theme{
	width:75%;
	margin:0 auto;
	height:100%;
	overflow:hidden;
}
header .theme li{
	float:left;
	text-align:center;
	font-size:0.8rem;
	line-height:2.5rem;
	width:25%;
	margin:0 4.16665%;
}
header .theme a li{
	color:#fff;
}
header .theme li.current{
	border-bottom:0.15rem solid #fff;
	height:2.35rem;
}
header ._left{
	display:block;
	position:absolute;
	left:0;
	top:0;
}
header ._left img{
	height:1rem;
	margin:0.75rem 0 0 0.6rem;
}
header ._left span{
	padding-left:0.5rem;
	font-size:0.85rem;
	color:#fff;
}
header ._mid{
	height:2.5rem;
	overflow:hidden;	
	}
header ._mid ul{
	display:inline-block;
	overflow:hidden;
	margin:0 auto;
	margin-top:0.45rem;
}
header ._mid ul li{
	float:left;
	border:1px solid #fff;
	font-size:0.75rem;
}
header ._mid ul li{
	color:#19b5ff;
	height:1.4rem;
	line-height:1.4rem;
	padding:0 1.1rem;
	background:#fff;
	border-radius:0.25rem 0 0 0.25rem;
}
header ._mid ul a li{
	color:#fff;
	height:1.4rem;
	line-height:1.4rem;
	padding:0 0.75rem;
	background:#19b5ff;
	border-radius:0 0.25rem 0.25rem 0;	
}
header .mid{
	height:2.5rem;
	overflow:hidden;	
	}
header .mid ul{
	display:inline-block;
	overflow:hidden;
	margin:0 auto;
	margin-top:0.45rem;
}
header .mid ul li{
	float:left;
	border:1px solid #fff;
	font-size:0.75rem;
}
header .mid ul li{
	color:#19b5ff;
	height:1.4rem;
	line-height:1.4rem;
	padding:0 0.75rem;
	background:#fff;
	border-radius:0 0.25rem 0.25rem 0;
}
header .mid ul a li{
	color:#fff;
	height:1.4rem;
	line-height:1.4rem;
	padding:0 1.1rem;
	background:#19b5ff;
	border-radius:0.25rem 0 0 0.25rem;	
}
header ._right{
	display:block;
	position:absolute;
	right:0;
	top:0;
}
header ._right img.current{
	transform:rotate(-90deg);
}
header ._right img{
	height:1rem;
	margin:0.75rem 0.5rem 0 0 ;
	transition:all ease-in 0.2s;
}
header ._righttwo{
	display:block;
	position:absolute;
	right:2rem;
	top:0;
}
header ._righttwo img{
	height:1rem;
	margin:0.75rem 0.5rem 0 0 ;
}
header ._rightthree{
	display:block;
	position:absolute;
	right:3.7rem;
	top:0;
}
header ._rightthree img{
	height:1rem;
	margin:0.75rem 0.5rem 0 0 ;
}

header ._right span{
	padding-right:0.5rem;
	font-size:0.85rem;
	color:#fff;
}
header ._right span.num{
	padding:0;
}
header .block{
	
}
header .block ul{
	position:absolute;
	right:0.4rem;
	top:2.5rem;
	z-index:100;
	width:5.6rem;
	display:none;
}
header .block ul .angle{
	border-top:0.4rem solid transparent;
	border-left:0.4rem solid transparent;
	border-right:0.4rem solid transparent;
	border-bottom:0.4rem solid rgba(0,0,0,0.5);
	width:0;
	height:0;
	position:absolute;
	right:0.4rem;
	top:-0.4rem;
}
header .block ul li{
	height:2rem;
	background:rgba(0,0,0,0.5);
	width:100%;
	text-align:center;
	line-height:2rem;
	font-size:0.7rem;
}
header .block ul li img{
	height:0.8rem;
	margin:0.6rem 0.2rem 0 0;
}
header .block ul li:nth-child(2){
	border-radius:0.3rem 0.3rem 0 0;
	margin-top:0.4rem;
	border-bottom:1px solid rgba(0,0,0,0.1)
}
header .block ul li:nth-child(3){
	border-radius:0 0 0.3rem 0.3rem;
}
.g-banner{
	width:100%;
	height:7.5rem;
	padding-top:2.5rem;
	
}
/*热门短片*/
nav._main{
	width:100%;
	height:1.7rem;
	border-top:1px solid #ebebeb;	
	border-bottom:1px solid #ebebeb;
	overflow:hidden;
	zoom:1;
	background:#fff url(../image/remen/icon_return.png) no-repeat 97% center;
	background-size:0.4rem;

}
nav._main p{
	float:left;
	width:50%;
	height:100%;
	line-height:1.7rem;
	color:#19b5ff;
	font-size:0.75rem;
}
nav._main p img{
	margin:0.3rem 0.25rem 0 0.25rem;
	height:0.9rem;
}
nav._main h1{
	float:right;
	height:100%;
	line-height:1.8rem;
	color:#666;
	font-size:0.7rem;
	margin-right:7%;
}
.g_short{
	width:100%;
	height:auto;
}
.g_short ul li{
	width:47%;
	height:6.25rem;
	float:left;
	margin-left:2%;
	position:relative;
	overflow:hidden;
	margin-top:0.25rem;
}
.g_short ul li .main img{
	height:100%;
}
.g_short ul li .f-overlay{
	position:absolute;
	width:100%;
	height:100%;	
	background:rgba(0,0,0,0.5);
	color:#fff;
}
.g_short ul li .f-overlay h2 img{
	height:0.6rem;
	}
.g_short ul li .f-overlay h1{
	width:70%;
	position:absolute;
	left:3%;
	bottom:4.8%;
	font-size:0.65rem;
	line-height:0.65rem;
	text-overflow:ellipsis;
    white-space:nowrap;
    overflow:hidden;
}
.g_short ul li .f-overlay h2{
	position:absolute;
	right:5%;
	bottom:5%;
	overflow:hidden;
}
.g_short ul li .f-overlay h2 img{
	height:0.6rem;
	float:left;
	margin-right:0.1rem;
}
.g_short ul li .f-overlay h2 span{
	line-height:0.7rem;
	float:left;
	font-size:0.6rem;
	transform:scale(0.8333334)
}	
.g_short ul li .f-overlay h3{
	position:absolute;
	right:5%;
	top:6%;
	overflow:hidden;
}
.g_short ul li .f-overlay h3 img{
	height:0.5rem;
	margin:0;
	float:left;
	}
.g_short ul li .f-overlay h3 span{
	float:left;
	font-size:0.6rem;
	line-height:0.55rem;
	transform:scale(0.83333334)
}
/*热门视频*/
.g_video{
	width:100%;
	height:auto;
	margin-bottom:3.25rem;
}
.g_video ul li{
	width:100%;
	height:7.2rem;
	position:relative;
	overflow:hidden;
	margin-top:0.05rem;
}
.g_video ul li img{
	height:100%;
}
.g_video ul li .f-overlay{
	position:absolute;
	width:100%;
	height:100%;	
	background:rgba(0,0,0,0.5) url(../image/remen/icon_bofang.png) no-repeat center 1.75rem;
	color:#fff;
	background-size:2.5rem;
}
.g_video ul li .f-overlay .wrap{
	width:100%;
	position:absolute;
	height:1.5rem;
	background:rgba(0,0,0,0.3);
	left:0;
	bottom:0;
	}
.g_video ul li .f-overlay h2 img{
	height:0.6rem;
	}
.g_video ul li .f-overlay h1{
	width:74%;
	position:absolute;
	left:3%;
	bottom:30%;
	font-size:0.65rem;
	line-height:0.65rem;
	text-overflow:ellipsis;
    white-space:nowrap;
    overflow:hidden;
}
.g_video ul li .f-overlay h2{
	position:absolute;
	right:5%;
	bottom:38%;	
}
.g_video ul li .f-overlay h2 img{
	height:0.5rem;
	float:left;
	}
.g_video ul li .f-overlay h2 span{
	float:left;
	font-size:0.6rem;
	line-height:0.5rem;
	transform:scale(0.8333334)
}	
footer{
	position:fixed;
	left:0;
	bottom:0;
	height:2.5rem;
	width:100%;
	background:#fff;
	border-top:1px solid #e0e0e0;
	z-index: 9999;
}
footer ul li{
	float:left;
	width:20%;	
	text-align:center;
	font-size:0.6rem;
	}
footer ul li.active{
	color:#19b5ff;	
	}	
footer ul li img{
	display:block;
	margin:0.35rem auto 0.15rem auto;
	height:1rem;
	}
footer ul li.main .g_wrap{
	background:#fff;
	margin:-0.7rem auto 0 auto;
	width:60%;
	padding:12%;
	border-radius:50%;
	}
footer ul li.main img{
	height:1.9rem;
	margin:0.1rem auto;
	vertical-align:top;
}
/*********************************************************************
                              短片
**********************************************************************/
nav._short{
	height:1.8rem;
	padding:0.15rem 0rem 0.15rem 0rem;
	background:#fff;
	padding-top:2.5rem;
}
nav._short .head{
	height:1.7rem;
	overflow:hidden;
	border-radius:50%;
	width:1.7rem;
	float:left;
	margin-left:0.65rem;
}
nav._short .head img{
	width:1.7rem;
}
nav._short .new{
	margin-left:0.25rem;
	float:left;
	height:100%;	
	}
nav._short .new .name{
	font-size:0.75rem;
	color:#333;
	line-height:1rem;
}
nav._short .new .time{
	color:#a2a2a2;
	font-size:0.6rem;
}
nav._short .focus{
	float:right;
	color:#fff;
	background:#19b5ff;
	height:1.2rem;
	line-height:1.2rem;
	margin:0.25rem 0.6rem 0 0;
	padding:0.1rem 0.5rem;
	border-radius:0.125rem;
	font-size:0.7rem;
}
.main_short ._video{
	width:100%;
	height:8rem;
}
.main_short ._video video{
	width:100%;
	height:100%;	
}
.main_short ul li{
	margin-bottom:0.25rem;
}
.main_short ._btn ul{
	width:100%;
	height:1.5rem;
	background:#fff;
}
.main_short ._btn ul li{
	padding-top:0.375rem;
	float:left;
	width:25%;
	height:1.125rem;
	line-height:0.75rem;
	color:#959595;
	font-size:0.6rem;
	margin-bottom:0;
}
.main_short ._btn ul li img{
	height:0.75rem;
	margin-right:0.1rem;
	
}
/*********************************************************************
                              视频
**********************************************************************/
.main_video{
	width:100%;
	height:auto;
	padding-top:2.5rem;
}
.main_video ul li{
	width:100%;
	height:7.2rem;
	position:relative;
	overflow:hidden;
	margin-bottom:0.05rem;
}
.main_video ul li img{
	height:100%;
}
.main_video ul li .f-overlay{
	position:absolute;
	width:100%;
	height:100%;	
	background:rgba(0,0,0,0.5) url(../image/remen/icon_bofang.png) no-repeat center 1.75rem;
	color:#fff;
	background-size:2.5rem;
}
.main_video ul li .f-overlay .wrap{
	width:100%;
	position:absolute;
	height:1.5rem;
	background:rgba(0,0,0,0.3);
	left:0;
	bottom:0;
	}
.main_video ul li .f-overlay h2 img{
	height:0.6rem;
	}
.main_video ul li .f-overlay h1{
	width:74%;
	position:absolute;
	left:3%;
	bottom:0.425rem;
	font-size:0.65rem;
	line-height:0.65rem;
	text-overflow:ellipsis;
    white-space:nowrap;
    overflow:hidden;
}
.main_video ul li .f-overlay h2{
	position:absolute;
	right:5%;
	bottom:0.5rem;
	overflow:hidden;
}
.main_video ul li .f-overlay h2 img{
	height:0.5rem;
	float:left;
}
.main_video ul li .f-overlay h2 span{
	float:left;
	font-size:0.6rem;
	line-height:0.5rem;
	transform:scale(0.83333334);
}